<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diamond_Chat_Bot.Commands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Diamond_Chat_Bot.Hotkeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Diamond_Chat_Bot.Twitch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Diamond_Chat_Bot.counter3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Diamond_Chat_Bot.counter2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Diamond_Chat_Bot.counter1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Diamond_Chat_Bot.Commands>
            <setting name="help" serializeAs="String">
                <value>help</value>
            </setting>
            <setting name="count" serializeAs="String">
                <value>count</value>
            </setting>
            <setting name="toggleBotMode" serializeAs="String">
                <value>toggleBotMode</value>
            </setting>
            <setting name="botMode" serializeAs="String">
                <value>botMode</value>
            </setting>
        </Diamond_Chat_Bot.Commands>
        <Diamond_Chat_Bot.Hotkeys>
            <setting name="up1" serializeAs="String">
                <value>2,107</value>
            </setting>
            <setting name="dn1" serializeAs="String">
                <value>2,109</value>
            </setting>
            <setting name="up2" serializeAs="String">
                <value>4,107</value>
            </setting>
            <setting name="dn2" serializeAs="String">
                <value>4,109</value>
            </setting>
            <setting name="up3" serializeAs="String">
                <value>1,107</value>
            </setting>
            <setting name="dn3" serializeAs="String">
                <value>1,109</value>
            </setting>
        </Diamond_Chat_Bot.Hotkeys>
        <Diamond_Chat_Bot.Twitch>
            <setting name="ChannelName" serializeAs="String">
                <value />
            </setting>
            <setting name="BotName" serializeAs="String">
                <value />
            </setting>
            <setting name="BotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BotModeTwitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BotModeInternal" serializeAs="String">
                <value>1</value>
            </setting>
        </Diamond_Chat_Bot.Twitch>
        <Diamond_Chat_Bot.counter3>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
            <setting name="Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Count" serializeAs="String">
                <value>0</value>
            </setting>
        </Diamond_Chat_Bot.counter3>
        <Diamond_Chat_Bot.counter2>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
            <setting name="Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Count" serializeAs="String">
                <value>0</value>
            </setting>
        </Diamond_Chat_Bot.counter2>
        <Diamond_Chat_Bot.counter1>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
            <setting name="Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Count" serializeAs="String">
                <value>0</value>
            </setting>
        </Diamond_Chat_Bot.counter1>
    </userSettings>
</configuration>